{% extends "layouts/master.twig" %}

{% block title %}Subjects{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Your recognized subjects:</h3>

            <br>

            <table id="results" class="display">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td class="col-md-1">{{ subject.id }}</td>
                        <td class="col-md-2">{{ subject.code }}</td>
                        <td class="col-md-2">{{ subject.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('#results').DataTable();
        });
    </script>
{% endblock %}