<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Willyfog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if auth.isLoggedIn %}
            <form class="navbar-form navbar-left" method="GET" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if auth.isRecognizer %}
            <ul class="nav navbar-nav">
                <li><a href="/subjects">My subjects</a></li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true" id="notifications-icon" style="opacity: 0.5;"></span>
                    </a>
                    <ul class="dropdown-menu" style="overflow-y: scroll; height: 150px; width: 350px;" id="user-notifications">
                    {# user notifications dynamically loaded #}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ auth.user.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if auth.isCoordinator %}
                            <li><a href="/users/register/recognizer">Recognizer Registration</a></li>
                            <li><a href="/users/register/coordinator">Coordinator Registration</a></li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register">Register</a></li>
                <li><a href="/openid">Log In</a></li>
            </ul>
        {% endif %}
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

{% block javascripts %}
    {% if auth.isLoggedIn %}
    <script>
        $(function () {
            $('#notifications-icon').mouseover(function () {
                $(this).css('opacity', 1);
            });
            $('#notifications-icon').mouseout(function () {
                $(this).css('opacity', 0.5);
            });

            getUserNotifications();
        });

        function getUserNotifications() {
            $.ajax({
                method: 'GET',
                url: '/users/' + {{ auth.userId }} + '/notifications',
                dataType: 'JSON'
            }).done(function (data) {
                populateNotifications(data);
            });
        }

        function populateNotifications(notifications) {
            if (notifications.length > 0) {
                $('#notifications-icon').css('color', 'blue');
                $('#notifications-icon').css('opacity', 0.5);
                $('#user-notifications').html();

                $.each(notifications, function (idx, value) {
                    $('#user-notifications').append(
                            $('<li style="margin: 10px">' + value.content + '</li>')
                    ).append($('<hr>'));
                });
            } else {
                $('#user-notifications').html('<li style="margin: 10px">You don\'t have any new notification.</li>');
            }
        }
    </script>
    {% endif %}
{% endblock %}