<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Willyfog</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% block head %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <header>
        {% include 'layouts/header.twig' %}
    </header>

    {% block content %}{% endblock %}

    {% block javascripts %}
    {% endblock %}

    <footer>
        {% include 'layouts/footer.twig' %}
    </footer>
</div>

</body>
</html>