{% extends 'layouts/master.twig' %}

{% block title %}Register{% endblock %}
{% block content %}
    <h1>Welcome student!</h1>
    <h3>Please fill in with the following data:</h3>

    <form>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Your name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="somebody@example.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="secret">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Password Confirmation</label>
                <input type="password" class="form-control" id="password_confirmation" placeholder="secret">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Your surname">
            </div>
            <div class="form-group">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" placeholder="Your NIF">
            </div>
            <div class="form-group">
                <label for="university">University</label>
                <select class="form-control" id="university">
                    <option selected>Your university</option>
                    {% for university in universities %}
                        <option value="{{ university.id }}">{{ university.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="centre">Centre</label>
                <select class="form-control" id="centre">
                    <option selected>Your centre (please select an university first)</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#university').change(function () {
                var universityId = $(this).val();

                $.ajax({
                    method: 'GET',
                    url: '/universities/' + universityId + '/centres',
                    dataType: 'JSON'
                }).done(function (data) {
                    console.log(data);
                });
            });
        });
    </script>
{% endblock %}
