{% extends 'layouts/master.twig' %}

{% block title %}Register{% endblock %}
{% block content %}
    <h1>Welcome student!</h1>
    <h3>Please fill in with the following data:</h3>

    {% if flash.getMessage('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash.getMessage('error')[0] }}
            {% if flash.getMessage('messages') %}
                : {{ flash.getMessage('messages')[0] }}
            {% endif %}
        </div>
    {% endif %}

    <form method="POST" action="/register">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="somebody@example.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="secret">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Password Confirmation</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="secret">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Your surname">
            </div>
            <div class="form-group">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" name="nif" placeholder="Your NIF">
            </div>
            <div class="form-group">
                <label for="university">University</label>
                <select class="form-control" id="university">
                    <option selected>Your university</option>
                    {% for university in universities %}
                        <option value="{{ university.id }}">{{ university.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="centre">Centre</label>
                <select class="form-control" id="centre">
                    <option selected>Your centre (please select an university first)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="degree">Degree</label>
                <select class="form-control" id="degree" name="degree_id">
                    <option selected>Your degree (please select a centre first)</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('form').submit(function () {
                if ($('#university').find(':selected').val() == "Your university") {
                    return false;
                } else {
                    return true;
                }
            });

            $('#university').change(function () {
                var universityId = $(this).val();

                $.ajax({
                    method: 'GET',
                    url: '/universities/' + universityId + '/centres',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $centre = $('#centre');
                    updateSelectOptions($centre, data);
                    $centre.trigger('change');
                });
            });

            $('#centre').change(function () {
                var centreId = $(this).val();

                $.ajax({
                    method: 'GET',
                    url: '/centres/' + centreId + '/degrees',
                    dataType: 'JSON'
                }).done(function (data) {
                    updateSelectOptions($('#degree'), data);
                });
            });
        });

        function updateSelectOptions($selector, data) {
            $selector.html('');

            $.each(data, function (idx, val) {
                $selector.append(
                        $('<option value="' + val.id + '">' + val.name + '</option>')
                );
            });
        }
    </script>
{% endblock %}
