{% extends 'layouts/master.twig' %}

{% block title %}Welcome{% endblock %}
{% block content %}
    {% if flash.getMessage('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash.getMessage('success')[0] }}
        </div>
    {% endif %}

    <h1>Hello!</h1>
{% endblock %}
