{% extends 'layouts/master.twig' %}

{% block title %}Welcome{% endblock %}
{% block content %}
    {% if flash.getMessage('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash.getMessage('success')[0] }}
        </div>
    {% endif %}

    <h3>Welcome to Willyfog!</h3>
    <img src="http://i.imgur.com/oSLdOyY.gif">
    <br><br>
    <p>If you register/log-in in th platform you will be able to:</p>
    <ul>
        <li>Search for subject equivalences</li>
        <li>Create requests</li>
        <li>Get feedback from the professors</li>
        <li>We even have a mobile app!</li>
    </ul>
{% endblock %}
