{% extends 'layouts/master.twig' %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
        <h3>Welcome to Willyfog!</h3>
        <h3>What can I do?</h3>
        <p>If you register/log-in in th platform you will be able to:</p>
        <ul>
            <li>Search for subject equivalences</li>
            <li>Create requests</li>
            <li>Get feedback from the professors</li>
            <li>We even have a mobile app!</li>
        </ul>
    </div>
{% endblock %}
