
{% extends "layouts/master.twig" %}

{% block title %}Hello{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    <h1>Hello {{ auth.user.name }} !</h1>

    <h3>Here are your open requests:</h3>

    <br>

    <div class="row">
        <div class="col-md-6">
        <table id="requests" class="display">
            <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.subject_code }}</td>
                    <td>{{ request.subject_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <a href="/logout">Logout</a>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('#requests').DataTable();
        });
    </script>
{% endblock %}
